<div class="aside">
  <div class="container-fluid">
<!--    id是一对一，class是多对多。这个是id与class用法上最主要的区别。-->
<!--    使用 <span> 元素对文本中的一部分加样式-->
    <nav>
      <ul>
        <li><a routerLink="/client" routerLinkActive="active"><span><i class="fa-solid fa-font-awesome"></i></span>
          Clients</a></li>
        <li><a routerLink="/devis" routerLinkActive="active"><span><i class="fa-solid fa-receipt"></i></span> Devis</a>
        </li>
        <li><a routerLink="/entrepreneurs" routerLinkActive="active"><span><i class="fa-solid fa-user-graduate"></i></span>
          Entrepreneurs</a></li>
      </ul>
    </nav>
  </div>
</div>
